.profile {
	border: 2px solid black;
	border-radius:20px;
	background-color:lightgrey;
	padding:10px 50px;
}
body {
	background:black;
}
#ski, #pro {
	 background-color:indianred;
 }
.linkedin a{
	text-decoration:none;
	color:black;
}
.selector h2 {
	border-radius:5px;
	padding:10px;
}
.image {
	float:right;
	width:20px;
    

	
}
